@media screen and (min-width: 1001px) {
  .sideBar__wrapper {
    display: none !important;
  }
  .side__bar {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .sitenav .icons {
    gap: 32px;
  }
}

@media screen and (max-width: 1000px) {
  .sitenav .sitenav__list {
    display: none;
  }
  .sideBar__wrapper {
    position: fixed;
  }
  .side__bar {
    position: fixed;
  }
  .filter__inner_router {
    display: none;
  }

  .filter {
    position: fixed;
    top: 0;
    left: 0;
    padding: 33px 30px;
    background: #000000e2;
    color: #fff;
    height: 100vh;
    transform: translateX(-110%);
    transition: transform 0.4s ease;
  }
  .filter__inner {
    border: 0;
    gap: 10px;
  }
  .filter__close_btn {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }
  .filter__inner_label {
    justify-content: space-between;
  }
  .filter__inner_title {
    padding: 10px 0;
  }
  .filter__showbtn {
    width: 100%;
    font-size: 13px;
  }
  .filter__inner_count {
    color: #fff;
  }
  .filter__line {
    margin-top: 10px;
  }
}

@media screen and (max-width: 769px) {
  .products__row {
    grid-template-columns: repeat(2, auto);
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer-list {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .footer-list li img {
    width: 140px;
  }
}

@media screen and (max-width: 431px) {
  .logo img {
    width: 140px;
  }
  .products__row {
    grid-template-columns: repeat(1, auto);
    padding-bottom: 20px;
  }
  .choose {
    padding: 5px 20px;
    font-size: 12px;
  }
  .footer {
    display: flex;
    padding-top: 25px;
  }
  .footer-list {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    align-items: start;
    font-size: 13px;
  }
  .liImg {
    display: flex;
    padding-bottom: 20px;
  }
  .footer-list .img {
    width: 100px;
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .filter {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .side__logo a img {
    width: 50px;
  }
  .side__logo a span {
    font-size: 20px !important;
  }

  .icons a,
  button {
    gap: 2px;
    width: 18px;
    height: 18px;
  }
  .wrapper {
    width: 100%;
  }
  .side__bar {
    width: 100%;
  }
  .choose {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
