.header {
  background: var(--bg-color);
  color: var(--white);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sitenav {
  padding: 13px 0;
}
.sitenav__list {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.sitenav__link {
  transition: 0.3s ease;
}
.icons {
  display: flex;
  gap: 60px;
}
.sitenav__link:hover {
  color: var(--primary);
}
.icons a svg path,
.icons button svg path {
  transition: 0.3s ease;
}
.icons a:hover svg path {
  fill: var(--primary);
}
.icons button:hover svg path {
  fill: var(--primary);
}

.main {
  flex-grow: 1;
}
.main .container__filter {
  display: flex;
  justify-content: space-between;
}
.close__btn {
  position: absolute;
  right: 8%;
}
.side__logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}
.sideBar__wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.458);
  transform: translateX(-100%);
}
.side__bar {
  width: 400px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px 0;
  background: white;
  color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.side__bar ul {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.side__bar ul li {
  padding: 20px 30px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  transition: all 0.4s ease;
  font-weight: bold;
  color: #4e4e4e;
}

.side__bar ul li:hover {
  color: var(--primary);
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 5%;
  left: 30px;
  font-size: 25px;
  color: #2c2c2c;
}
.filter {
  padding: 33px 0;
  width: 310px;
}
.container__filter {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
.filter__inner {
  position: sticky;
  top: 0px;
  border-right: 2px solid var(--gray-400);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 30px;
}
.filter__inner_router {
  font-size: 14px;
  font-weight: 400;
}
.filter__inner_dom {
  color: var(--gray-400);
}

.filter__inner_title {
  padding: 27px 0;
}
.filter__inner_label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter__inner_count {
  color: var(--gray-100);
}
.filter__showbtn {
  text-decoration: underline;
  padding-top: 27px;
  transition: all 0.3s ease;
  align-self: flex-start;
}

.filter__line {
  border: none;
  margin-top: 27px;
  border-top: 1px solid var(--gray-400);
}

.filter__showbtn:hover {
  text-decoration: none;
  color: var(--primary);
}

.products {
  width: 945px;
  padding: 53px 21px 0 21px;
}

.products__row {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px 20px;
}
.products__card img {
  width: 100%;
  height: 200px;
}
.products__card .card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.card__title .card__price {
  color: var(--primary);
  font-size: 22px;
  font-weight: 700;
}
.reting {
  display: flex;
  align-items: center;
}

.reting__count {
  font-size: 12px;
  color: var(--gray-100);
}
.choose {
  margin-top: 12px;
  padding: 8px 24px;
  border: 2px solid black;
  background: #e5e5e5;
  text-align: center;
}

.card__line {
  border: none;
  border-top: 2px solid var(--gray-400);
  margin-top: 19px;
}
.filter_mobile {
  display: none;
}
.filter__close_btn {
  display: none;
}
.footer {
  background: #000;
  color: #fff;
  margin-top: 52px;
  padding-top: 115px;
}
.footer-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 0 37px;
  margin-bottom: 30px;
  font-size: 14px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  padding-bottom: 72px;
  gap: 25px;
}
.footer-icons a {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 21px;
}
.footer-text {
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 15px;
  padding-bottom: 35px;
}

.liImg {
  display: none;
}

.filter__close_btn {
  display: none;
}

.filter_box {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000058;
  width: 100%;
  height: 100vh;
  display: none;
}
